{% extends 'base.html.twig' %}

{% block body %}
    
    



	<a  href=" {{ addPositionURL }} "> {{ addPositionText }}</a>

	{% for position in positions %}
        <h4> {{ position.title }} </h4>
		<p> {{ position.description }} </p>

    {% endfor %}  
{% endblock %}